.cardbody {
  width: 380px;
  margin: auto;
  margin-top: 40px;
  padding: 20px 0px;
  text-align: center;
  /* background-color: #706f6f;
  color: black; */
  border-radius: 20px;
}

.cardimage {
  padding: 10px;
  margin: auto;
  width: 160px;
  height: 160px;
  object-fit: cover;
}
