img {
  border-radius: 30px;
}

.cardbody {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
  border-radius: 20px;
}

.carouselimage {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: auto;
  width: 500px;
  height: 350px;
  object-fit: contain;
  display: block;
  opacity: 0.3;
  border-radius: 20px;
}

.carouselcontainer {
  margin-top: 50px;
  width: 500px;
  height: 355px;
  margin: auto;
  background-color: rgb(99, 99, 99);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 30px;
}
